name: Check CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ 'main', 'release/v*' ]

jobs:
  check:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        customDoubleParser: [ 'fast-double-parser', 'none' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Check gitignore rules
        run: .github/scripts/check-gitignore-rules.sh

      - name: Setup JDK 8
        id: setup-java-8
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup JDK 11
        id: setup-java-11
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup JDK 17
        id: setup-java-17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup JDK 21
        id: setup-java-21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup JDK 23
        id: setup-java-23
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '23'

      - name: Set JAVA_HOME
        run: echo "JAVA_HOME=${{ steps.setup-java-21.outputs.path }}" >> $GITHUB_ENV

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup gradle properties
        run: |
          cat .github/env/${{ runner.os }}/gradle.properties >> gradle.properties
          echo >> gradle.properties
          echo "org.gradle.java.installations.paths=${{ steps.setup-java-8.outputs.path }},${{ steps.setup-java-11.outputs.path }},${{ steps.setup-java-17.outputs.path }},${{ steps.setup-java-21.outputs.path }},${{ steps.setup-java-23.outputs.path }}" >> gradle.properties
          echo "customDoubleParser=${{ matrix.customDoubleParser }}" >> gradle.properties
          cat gradle.properties

      - name: Check
        run: ./gradlew check

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: check-artifacts-${{ matrix.customDoubleParser }}
          path: |
            **/build/reports/tests/**
            **/build/test-results/**
            !**/build/test-results/**/binary/**
            **/*_pid*.log
