name: Check CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ 'main', 'release/v*' ]

jobs:
  check:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        customDoubleParser: [ '11-compatible', '8-compatible', 'none' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check gitignore rules
        run: .github/scripts/check-gitignore-rules.sh

      - name: Setup JDK
        id: setup-java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Setup gradle properties
        run: |
          cat .github/env/${{ runner.os }}/gradle.properties >> gradle.properties
          echo >> gradle.properties
          echo "org.gradle.java.installations.paths=${{ steps.setup-java.outputs.path }}" >> gradle.properties
          cat gradle.properties

      - name: Check
        run: ./gradlew check -PcustomDoubleParser=${{ matrix.customDoubleParser }}

      - name: Upload Test Reports
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: check-reports-${{ matrix.customDoubleParser }}
          path: '**/build/reports/tests/**'
