name: Publish CI

on:
  push:
    branches: [ 'release/v*' ]

# Ensure only one publish at any given time
concurrency: publish

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Check gitignore rules
        run: .github/scripts/check-gitignore-rules.sh

      - name: Setup JDK
        id: setup-java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Set JAVA_HOME
        run: echo "JAVA_HOME=${{ steps.setup-java.outputs.path }}" >> $GITHUB_ENV

      - name: Setup gradle properties
        run: |
          cat .github/env/${{ runner.os }}/gradle.properties >> gradle.properties
          echo >> gradle.properties
          echo "org.gradle.java.installations.paths=${{ steps.setup-java.outputs.path }}" >> gradle.properties
          cat gradle.properties

      - name: Publish
        # Note: even though we specify org.gradle.parallel=false in our CI gradle.properties, we want to be explicit
        # here about no parallelism to ensure we don't create disjointed staging repositories.
        # Edit: unclear if above note is still possible with the new portal API / plugin implementation.
        run: ./gradlew --no-parallel assemble publishToMavenCentral
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.CI_AT_DEEPHAVEN_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.CI_AT_DEEPHAVEN_PASSWORD }}
          ORG_GRADLE_PROJECT_signingRequired: true

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          path: |
            **/build/libs/**
